seeking {
  [ui-sref] {
    cursor: pointer;
  }
  display: block;
  .uiview {
    height: 447px;
  }
  label {
      text-transform: uppercase;
  }
  input {
      font-family: Raleway, sans-serif;
  }
  .smedia-icon-container {
    display: inline;
    text-align: center;
    position: fixed;
    bottom: 57px;
    right: 2%;
  }
  .smedia-icon {
    height: 45px;
    opacity: .55;
    cursor: pointer;
  }
  .small {
      font-size: 11px;
  }
  .hidden {
    display: none;
  }
  .actionbtn {
      background-color: #00bcd4;
  }
  .center {
      text-align: center;
  }
  .loginregcontainer {
    height: 225px;
  }
  .loginregform {
    padding: 23px;
    height: 225px;
  }
  .md-headline {
      font-family: Raleway, sans-serif;
  }
  .detailsinput {
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 13px;
  }
  .staticpagecontainer {
    padding: 15px;
    md-content {
      font-size: 11px;
    }
    .md-subhead {
      font-size: 13px;
    }
    .md-button {
      margin-left: -23px;
    }
    [ui-sref] {
      color: #00bcd4;
    }
  }
}

@import "../navigation/navigation.less";
@import "../bottom/bottom.less";
@import "../promo/promo.less";
@import "../login/login.less";
@import "../profileAdd/profileAdd.less";
@import "../profileAddButton/profileAddModal.less";
@import "../profilesList/profilesList.less";
@import "../profileDetails/profileDetails.less";
@import "../survey/survey.less";