seeking {
  box-sizing: border-box;
  [ui-sref] {
    cursor: pointer;
  }
  display: block;
  .uiview {
    margin: 0px;
    height: 447px;
    width: 100%;
  }
  label {
      text-transform: uppercase;
  }
  input {
      font-family: Raleway, sans-serif;
  }
  .biglogo {
    height: 225px;
    color: #00bcd4;
  }
  .pickiconbig {
    margin-top: 14px;
    margin-left: 9.4px;
    height: 29px;
    width: 25px;
  }
  .pickiconsmall {
    margin-top: 10px;
    margin-left: 7px;
    height: 23px;
    width: 20px;
  }
  .hornsiconbig {
    margin-left: 11px;
    height: 29px;
    width: 25px;
  }
  .hornsiconsmall {
    margin-left: 5.5px;
    height: 23px;
    width: 20px;
  }
  .msgiconbig {
    margin-top: 3px;
    margin-left: 9px;
    height: 27px;
    width: 27px;
  }
  .msgiconsmall {
    margin-top: 1px;
    margin-left: 3px;
    height: 23px;
    width: 23px;
  }
  .smedia-icon-container {
    display: inline;
    text-align: center;
    margin-top: 11px;
  }
  .smedia-icon {
    height: 45px;
    opacity: .55;
    cursor: pointer;
  }
  .small {
      font-size: 11px;
  }
  .smaller {
    opacity: .6;
    text-align: center;
    font-size: 9px;
    margin-top: -9px;
    margin-bottom: 7px;
  }
  .hidden {
    display: none;
  }
  .actionbtn {
      background-color: #00bcd4;
  }
  .center {
      text-align: center;
  }
  .loginregcontainer {
    height: 225px;
  }
  .loginregform {
    margin-top: 57px;
    padding: 23px;
    height: 135px;
  }
  .md-headline {
    font-family: Raleway, sans-serif;
  }
  .detailsform {
    padding: 10px 5px 5px 5px;
  }
  .detailsinput {
    margin-top: .5px;
    margin-bottom: .75px;
    font-size: 13px;
  }
  .staticpagecontainer {
    padding: 15px;
    md-content {
      font-size: 11px;
    }
    .md-subhead {
      font-size: 13px;
    }
    .md-button {
      margin-left: -23px;
    }
    [ui-sref] {
      color: #00bcd4;
    }
  }
  .surveyhead {
    margin-top: 11px;
    margin-left: 11px;
    margin-bottom: 11px;
  }
  .surveysave {
    z-index: 11;
    margin-bottom: 23px;
  }
  .nextbutton {
    padding-top: 23px;
    padding-bottom: 11px;
  }
  .surveyq {
    padding: 23px;
    text-transform: uppercase;
  }
  .sliderquestioncontainer {
    margin-top: 23px;
    margin-bottom: 11px;
    padding: 20px;
  }
  .weightcontainer {
    background-color: #e93072;
    color: white;
    margin-top: 23px;
    margin-bottom: 11px;
    padding: 20px;
    box-shadow: 0px 3px 3px 0px;
  }
  .weightcontainer2 {
    background-color: #e93072;
    color: white;
    margin-top: 23px;
    margin-bottom: 11px;
    padding: 20px;
    box-shadow: 0px 3px 3px 0px;
  }
  .sliderheader2 {
    margin-bottom: 15px;
  }
  .slidercontainer2 {
    padding: 11px 11px 15px 11px;
    margin-top: 11px;
  }
  .slidercontainer {
    padding: 11px;
    margin-top: 11px;
  }
  .slidercontainer3 {
    padding: 23px;
    margin-top: 11px;
    margin-bottom: 33px;
  }
  .sliderlabel {
    text-transform: uppercase;
    text-align: center;
    margin-right: 15px;
    margin-left: 5px;
  }
  .sliderlabel2 {
    text-transform: uppercase;
    text-align: center;
    margin-right: 2px;
    margin-left: 2px;
  }
  .weightslider {
    margin-left: 7px;
    margin-right: 7px;
    color: white;
  }
  .surveyend {
    padding: 23px;
  }
  .spotify {
    height: 52px;
    width: 52px;
    margin-right: 12px;
  }
  .spotifysmall {
    height: 41px;
    width: 41px;
    margin-right: 8px;
  }
  .soundcloud {
    height: 66px;
    width: 66px;
    margin-left: 6px;
  }
  .soundcloudsmall {
    height: 50px;
    width: 50px;
    margin-left: 4.5px;
  }
  .browseheadline {
    margin-top: -20px;
    margin-bottom: 20px;
    font-size: 55px;
  }
  .browsesocial {
    margin-top: -23px;
    margin-left: 18px;
  }
  .browsesocial2 {
    margin-top: -23px;
    margin-left: -2px;
  }
  .fbwhite {
    height: 28px;
    margin-left: -4px;
    margin-top: -4px;
  }
  .soundcloudwhite {
    height: 25px;
    margin-top: -.75px;
  }
  .browseinfo {
    margin-left: 7px;
    margin-top: -8px;
    margin-bottom: 10px;
    font-size: 24px;
  }
  .browselabel {
    font-size: 12px;
    color: #e93072;
    margin-top: 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
  #biolabel {
    margin-right: 1px;
  }
  .browsetext {
    font-size: 12px;
    margin-bottom: 3px;
    opacity: .85;
  }
  .matchresponsebuttons {
    margin-left: 7.5px;
  }
  .bottombuttons {
    margin-top: 5px;
  }
  .surveydetailhead {
    margin-bottom: -5px;
  }
}

@import "../navigation/navigation.less";
@import "../auth/auth.less";
@import "../bottom/bottom.less";
@import "../promo/promo.less";
@import "../login/login.less";
@import "../profileAdd/profileAdd.less";
@import "../profileAddButton/profileAddModal.less";
@import "../profilesList/profilesList.less";
@import "../profilesList2/profilesList2.less";
@import "../profileDetails/profileDetails.less";
@import "../profileDetails2/profileDetails2.less";
@import "../anotherSurvey/survey.less";