<span class="md-headline">Matches</span>
<md-content>
    <md-list flex>
      <md-list-item class="md-3-line" ng-repeat="match in matches" ui-sref="chatView({ profileId: profile._id })">
        <img ng-src="{{profile.mainPic}}?{{$index}}" class="md-avatar" alt="{{profile.firstName}}">
        <div class="md-list-item-text">
          <h3>{{profile.firstName}}</h3>
          <h4 class="pctmatch">{{profilesList.pctMatch}}</h4>
          <h4>{{messenger.timeSent}}</h4>
          <p>{{match.latestMessage}}</p>
        </div>
        <md-button class="small md-secondary" ng-click="messenger.unmatch()">Unmatch</md-button>
        <md-button class="small md-secondary md-warn" ng-click="messenger.block()">Block</md-button>
        <md-divider md-inset ng-if="!$last"></md-divider>
      </md-list-item>
    </md-list>
</md-content>