<div layout="column" layout-padding>
    <div flex-xs flex-gt-xs="50" layout="column">
        <md-card>
            <img ng-src="{{profile.mainPic}}" class="md-card-image" alt="{{profile.firstName}}">
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline">
                  {{profile.firstName}}
                </span>
                <span class="md-subhead">{{profile.instrument1}}, {{profile.instrument2}}</span>
              </md-card-title-text>
            </md-card-title>
            <md-button ng-click="profilesList.like()" class="md-fab" aria-label="The Horns">
                <md-icon>PATH TO HORNS</md-icon>
            </md-button>
            <div flex layout="column">
                <span class="profileinfolabel md-subhead">Zipcode</span>
                <span class="md-subhead">{{profile.zip}}</span>
                <span class="profileinfolabel md-subhead">Age</span>
                <span class="md-subhead">{{profile.age}}</span>
                <span class="profileinfolabel md-subhead">Bio</span>
                <md-content>{{profile.bio}}</md-content>
                <span class="profileinfolabel md-subhead">Favorite Bands</span>
                <md-content>{{profile.favBands}}</md-content>
                <span class="profileinfolabel md-subhead">Favorite Genres</span>
                <md-content>{{profile.favGenres}}</md-content>
            </div>
        </md-card>
        <md-card-actions layout="row" layout-align="center">
            <md-button class="md-raised" ng-show="profilesList.isOwner(profile)" ui-sref="surveyDetails">Edit Survey Answers</md-button>
            <md-button class="md-raised" ng-show="!profilesList.isOwner(profile)" ui-sref="surveyDetails">View Survey Answers</md-button>
        </md-card-actions>
    </div>
</div>