<div layout="column" layout-padding>
  
  <div class="searchcontainer" ng-hide="!profilesList2.isLoggedIn" flex layout="row" layout-padding>
    <md-input-container>
      <label>Search</label>
      <input ng-model="profilesList2.searchText">
    </md-input-container>
 
    <profiles-sort on-change="profilesList2.sortChanged(sort)" property="city" order="1"></profiles-sort>
  </div>
 
  <div ng-hide="!profilesList2.isLoggedIn" flex layout="column">
      <!--<md-card dir-paginate="profile in profilesList.profiles | itemsPerPage: profilesList.perPage" total-items="profilesList.profilesCount">-->
      <md-card ng-repeat="profile in profilesList2.profiles" ng-show="!profilesList2.isOwner(profile)">
        <!--<div layout="row" layout-align="end">-->
        <!--  <profile-remove profile="profile"></profile-remove>-->
        <!--</div>-->
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline" ui-sref="profileDetails2({ profileId: profile._id })">
              {{profile.firstName}}
            </span>
            <md-card-title-media ng-if="profile.images">
              <div class="md-media-lg card-media">
                <profile-image images="profile.images"></profile-image>
              </div>
            </md-card-title-media>
            
            <div flex layout="column" class="browseinfo">   
                <!--<span class="browselabel" ng-hide="!profile.age">Age</span>-->
                <span class="browsetext">{{profile.age}}</span>
                <!--<span class="browselabel" ng-hide="!profile.city">City</span>-->
                <span class="browsetext">{{profile.city}}, {{profile.state}}</span>
                <!--<span class="browselabel" ng-hide="!profile.instrument1">Instruments</span>-->
                <span class="browsetext">{{profile.instrument1}}<span ng-hide="!profile.instrument2">,</span> {{profile.instrument2}}</span>
                <!--<span class="browselabel" id="biolabel" ng-hide="!profile.bio">Bio</span>-->
                <span class="browsetext">{{profile.bio}}</span>
            </div> 
            
          </md-card-title-text>
          <md-card-content layout="column" layout-align="center">
            <!--<span class="md-subhead pctmatch">{{profilesList.pctMatch}}% Match<span>-->
            <span class="md-subhead">{{profile.joinDate}}</span>
          </md-card-content>
        </md-card-title>
        
        <md-card-actions>
          <div layout="row" layout-align="center center">
            <img class="spotify" src="images/spotifyblack.png">
            <match-response profile="profile" ng-show="profilesList2.isLoggedIn"></match-response>
            <img class="soundcloud" src="images/soundcloudblack.png">
          </div>
        </md-card-actions>
        
        <!--<dir-pagination-controls on-page-change="profilesList.pageChanged(newPageNumber)"></dir-pagination-controls>-->
        <!--<profiles-map profiles="profilesList.profiles"></profiles-map>-->
      </md-card>
  </div>
</div>