<md-content layout="row" layout-align="center start" layout-fill layout-margin>
    <div layout="column" layout-gt-sm="row" layout-align="center start" layout-padding>
        <form flex layout="column">
            <md-input-container class="promoinput">
                <label>Promo Code</label>
                <input ng-model="promo.profile.promoCode">
            </md-input-container>
            <div flex layout="row" layout-align="center center">
                <div flex>
                    <span class="smaller" ui-sref="terms">
                        (By clicking "go", you agree to the terms of use.)
                    </span>
                </div>
            </div>
            <md-button class="md-raised md-accent" aria-label="Enter your promo code" ui-sref="register">
                Go!
            </md-button>
        </form>
    </div>
</md-content>