profile-details-2 {
    .detailscontent {
        margin-left: 3px;
    }
    .detailsheader {
        color: #e93072;
        font-size: 11px;
        text-transform: uppercase;
        margin-top: 11px;
    }
    .detailsdivider {
        margin-top: 10px;
    }
}