<div layout="column" layout-padding>
  <profile-add-button ng-show="profilesList.isLoggedIn"></profile-add-button>
  <div class="center" ng-hide="profilesList.isLoggedIn">
    <h2 ui-sref="promo" id="promoprompt">Enter your promo code</h2>
    <h3>or</h3>
    <h2 ui-sref="login" id="loginprompt">Log in to create a profile!</h2>
  </div>
 
  <div flex-xs flex-gt-xs="50" layout="column">
      <md-card dir-paginate="profile in profilesList.profiles | itemsPerPage: profilesList.perPage" total-items="profilesList.profilesCount">
        <img ng-src="{{profile.mainPic}}" class="md-card-image" alt="{{profile.firstName}}">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline" ui-sref="profileFullView({ profileId: profile._id })">
              {{profile.firstName}}
            </span>
            <span class="md-subhead">{{profile.instrument1}}, {{profile.instrument2}}</span>
          </md-card-title-text>
          <md-card-actions layout="row" layout-align="center">
            <md-button>{{profilesList.distance}}</md-button>
            <md-button>{{profilesList.pctMatch}}% Match</md-button>
            <md-button>{{profilesList.joinDate}}</md-button>
          </md-card-actions>
        </md-card-title>
        <take-survey-button ng-hide="profilesList.isOwner(profile)"></take-survey-button>
        <profile-remove ng-hide="profilesList.isOwner(profile)" profile="profile"></profile-remove>
      </md-card>
      
      <div layout="row" layout-align="center center">
        <md-button class="md-fab" aria-label="The Horns">
          <md-icon>PATH TO HORNS</md-icon>
        </md-button>
      </div>
  </div>
  
  <div class="smedia-icon-container" ng-hide="profilesList.isLoggedIn">
    <a href="http://facebook.com/seekingmusicapp" target="_blank"><img class="smedia-icon" src="images/fbblack.png"></a>
    <a href="http://twitter.com/seekingmusicapp" target="_blank"><img class="smedia-icon" src="images/twblack.png"></a>
  </div>
</div>