profiles-list {
  .landingpage {
    width: 100%;
    padding: 23px;
  }
  .landingpagewest {
    font-family: Montserrat, sans-serif;
  }
  .slogomain {
    height: 275px;
  }
  [ui-sref] {
    cursor: pointer;
  }
  h2 {
    padding-top: 105px;
    text-transform: uppercase;
  }
  #promoprompt {
    color: #ff4081;
  }
  #loginprompt {
    padding-top: 5px;
    color: #616161;
    margin-bottom: 45px;
  }
  h3 {
    color: #00bcd4;
    text-transform: uppercase;
  }
  .seekbutton {
    margin-top: 15px;
  }
}

@import "../profilesMap/profilesMap.less";
@import "../profileRemove/profileRemove.less";
@import "../profileAddButton/profileAddButton.less";
@import "../takeSurveyButton/takeSurveyButton.less";
@import "../matchResponsesList/matchResponsesList.less";