profiles-list {
  .landingpage1 {
    width: 100%;
    padding: 23px;
    margin-top: 12px;
  }
  .landingpage2 {
    margin-top: 10px;
    margin-left: 15px;
    margin-bottom: 11px;
  }
  .landingpageactions {
    margin-bottom: 175px;
  }
  .landingpage4 {
    width: 100%;
    background-color: #e93072;
    height: 475px;
    text-align: center;
    margin: 0;
  }
  .greetingblurb {
    color: white;
    margin-top: 11.75%;
    padding: 11px;
  }
  .greetingheadline {
    font-size: 33px;
    width: 85%;
  }
  .missionstatement {
    width: 80%;
    margin-left: 12%;
    font-family: Raleway, sans-serif;
  }
  .landingpage3 {
    width: 85%;
    margin-top: 35px;
    margin-bottom: 75px;
    margin-left: 10%;
    height: 475px;
  }
  .explainerheadline {
    font-size: 33px;
    color: #e93072;
    margin-bottom: 28px;
  }
  .landingpage5 {
    width: 100%;
  }
  .iconscolumn {
    width: 25%;
  }
  .landingpageicon {
    padding: 11px;
    height: 50px;
    width: 50px;
    background-color: #e93072; 
    border-radius: 50%;
    margin-bottom: 30px;
  }
  .iconhome {
    height: 37px;
    width: 35px;
    margin-top: 8px;
    margin-left: 8.25px;
  }
  .explainerscolumn {
    margin-left: -30%;
    width: 75%;
  }
  .explainer {
    margin-bottom: 30px;
    padding: 5px;
  }
  .landingpageblurb {
    margin-left: 35px;
    width: 50%;
  }

  .blurbtext1 {
    font-family: Montserrat, sans-serif;
    font-size: 15px;
    color: #3ac1d3;
    margin-bottom: 5px;
  }
  .blurbtext2 {
    font-family: Raleway, sans-serif;
    font-size: 15px;
  }
  .landingpage6 {
    height: 365px;
    width: 100%;
    background-color: #3ac1d3;
  }
  .landingendheadline {
    font-family: Raleway, sans-serif;
    font-size: 35px;
    margin-left: 10%;
    margin-top: 8.5%;
    color: white;
  }
  .missionstatement2 {
    color: white;
    margin-top: 15px;
    margin-left: 10%;
    margin-right: 10%;
    font-family: Raleway, sans-serif;
  }
  .phonehome {
    margin-top: 95px;
    height: 135px;
  }
  .amphome {
    margin-top: 97px;
    margin-left: 15px;
    height: 145px;
  }
  [ui-sref] {
    cursor: pointer;
  }
  h2 {
    padding-top: 105px;
    text-transform: uppercase;
  }
  #promoprompt {
    color: #616161;
    margin-top: 85px;
  }
  #loginprompt {
    padding-top: 5px;
    color: #616161;
    margin-bottom: 185px;
  }
  h3 {
    color: #00bcd4;
    text-transform: uppercase;
  }
  .seekbutton {
    margin-top: 15px;
  }
}

@import "../profilesMap/profilesMap.less";
@import "../profileRemove/profileRemove.less";
@import "../profileAddButton/profileAddButton.less";
@import "../takeSurveyButton/takeSurveyButton.less";
@import "../matchResponsesList/matchResponsesList.less";