<div class="staticpagecontainer">
    <span class="md-headline">About Seeking</span><br><br>
    <span class="md-subhead">We help music happen.</span><br>
    <span class="md-subhead">One of the biggest hurdles in starting any musical project is finding the right people to work with.</span><br>
    <span class="md-subhead">Everyone has a unique set of ideas and standards that deserve to be fulfilled.</span><br>
    <span class="md-subhead">With our matching service, we can help you find the best people to work with to achieve your goals.</span><br>
    <span class="md-subhead">Don't just settle for a band you can find. With Seeking, you can create the band you've always wanted.</span><br><br>
    <div layout="row">
        <p class="small">&copy; 2017 Seeking LLC, all rights reserved</p>
    </div><br><br><br>
</div>