<div class="staticpagecontainer">
    <span class="md-headline">About Seeking</span><br><br>
    <span class="md-subhead">Soon.</span><br>
    <span class="md-subhead">Launching in 2017, Seeking wants to make it fundamentally easier to start bands.</span><br>
    <span class="md-subhead">It will be way easier for musicians like you to find other musicians like you to collaborate with.</span><br>
    <span class="md-subhead">Musicians like you that you probably didn't even know existed.</span><br>
    <span class="md-subhead">We hope you're as excited as we are. Stay tuned, friends.</span><br><br>
    <div layout="row">
        <p class="small">&copy; 2016 Seeking</p>
    </div><br><br><br>
</div>