<form flex layout="column">
  <span class="md-subhead">Who are your favorite producers?</span>
  <md-input-container class="detailsinput">
    <input ng-model="survey1.profile.favProducersAnswer" ng-disabled="!survey1.isLoggedIn">
  </md-input-container>
    
    <span class="md-subhead">How important is this to you?</span>
    <div layout>
      <div flex="10" layout layout-align="center center">
          <span class="sliderlabel small md-body-1">Not at all</span>
      </div>
      <md-slider flex class="md-accent" md-discrete ng-model="survey1.profile.favProducersWeight" step="1" min="1" max="5" aria-label="importance"></md-slider>
      <div flex="10" layout layout-align="center center">
          <span class="sliderlabel small md-body-1">Very</span>
      </div>
    </div>
    
  <div layout="row">
    <md-button ng-click="survey1.save()" ui-sref="survey1.favLabels" class="nextbutton md-raised">Next</md-button>
  </div>
</form>