<form flex layout="column">
    <span class="md-subhead">How many years have you been playing your instrument?</span>
    <md-slider-container>
      <md-slider flex min="0" max="75" ng-model="survey1.profile.instrumentYearsAnswer" aria-label="years playing instrument" id="instrumentyears-slider">
      </md-slider>
      <md-input-container>
        <input flex type="number" ng-model="survey1.profile.instrumentYearsAnswer" aria-label="years playing instrument" aria-controls="instrumentyears-slider">
      </md-input-container>
    </md-slider-container>
     
    <span class="md-subhead">How important is this to you?</span>
    <div layout>
        <div flex="10" layout layout-align="center center">
            <span class="sliderlabel small md-body-1">Not at all</span>
        </div>
        <md-slider flex class="md-accent" md-discrete ng-model="survey1.profile.instrumentYearsWeight" step="1" min="1" max="5" aria-label="importance"></md-slider>
        <div flex="10" layout layout-align="center center">
            <span class="sliderlabel small md-body-1">Very</span>
        </div>
    </div>

  <div layout="row">
    <md-button ng-click="survey1.save()" ui-sref="survey2" class="nextbutton md-raised">Next</md-button>
  </div>
</form>