<form flex layout="column">
    <span class="md-subhead">How would you describe your personality?</span>
    <div layout>
        <div flex="10" layout layout-align="center center">
            <span class="sliderlabel small md-body-1">Total goof</span>
        </div>
        <md-slider flex md-discrete ng-model="survey8.profile.personalityAnswer" step="1" min="1" max="5" aria-label="importance"></md-slider>
        <div flex="10" layout layout-align="center center">
            <span class="sliderlabel small md-body-1">Very serious</span>
        </div>
    </div>
    
    <span class="md-subhead">How important is this to you?</span>
    <div layout>
        <div flex="10" layout layout-align="center center">
            <span class="sliderlabel small md-body-1">Not at all</span>
        </div>
        <md-slider flex class="md-accent" md-discrete ng-model="survey8.profile.personalityWeight" step="1" min="1" max="5" aria-label="importance"></md-slider>
        <div flex="10" layout layout-align="center center">
            <span class="sliderlabel small md-body-1">Very</span>
        </div>
    </div>

  <div layout="row">
    <md-button ng-click="survey8.save()" ui-sref="survey8.gender" class="nextbutton md-raised">Next</md-button>
  </div>
</form>