<form flex layout="column">
    <span class="md-subhead">How much do you want to involve politics in your band?</span>
    <div layout>
        <div flex="10" layout layout-align="center center">
            <span class="sliderlabel small md-body-1">Not much</span>
        </div>
        <md-slider flex md-discrete ng-model="survey7.profile.politicsBandAnswer" step="1" min="1" max="5" aria-label="importance"></md-slider>
        <div flex="10" layout layout-align="center center">
            <span class="sliderlabel small md-body-1">Very much</span>
        </div>
    </div>
    
    <span class="md-subhead">How important is this to you?</span>
    <div layout>
        <div flex="10" layout layout-align="center center">
            <span class="sliderlabel small md-body-1">Not at all</span>
        </div>
        <md-slider flex class="md-accent" md-discrete ng-model="survey7.profile.politicsBandWeight" step="1" min="1" max="5" aria-label="importance"></md-slider>
        <div flex="10" layout layout-align="center center">
            <span class="sliderlabel small md-body-1">Very</span>
        </div>
    </div>

  <div layout="row">
    <md-button ng-click="survey7.save()" ui-sref="survey7.religion" class="nextbutton md-raised">Next</md-button>
  </div>
</form>