<form flex layout="column">
    <span class="md-subhead">How often do you want to practice?</span>
    <md-radio-group ng-model="survey3.profile.practiceTimeAnswer">
        <div layout="row">
            <div layout="column">
                <md-radio-button value="0">Less than 1 day/week</md-radio-button>
                <md-radio-button value="2">2 days/week</md-radio-button>
            </div>
            <div layout="column">
                <md-radio-button value="1">1 day/week</md-radio-button>
                <md-radio-button value="3">3+ days/week</md-radio-button>
            </div>
        </div>
    </md-radio-group>
    
    <span class="md-subhead">How important is this to you?</span>
    <div layout>
        <div flex="10" layout layout-align="center center">
            <span class="sliderlabel small md-body-1">Not at all</span>
        </div>
        <md-slider flex class="md-accent" md-discrete ng-model="survey2.profile.practiceTimeWeight" step="1" min="1" max="5" aria-label="importance"></md-slider>
        <div flex="10" layout layout-align="center center">
            <span class="sliderlabel small md-body-1">Very</span>
        </div>
    </div>

  <div layout="row">
    <md-button ng-click="survey3.save()" ui-sref="survey3.localShows" class="nextbutton md-raised">Next</md-button>
  </div>
</form>