<div layout="column" layout-padding>
 
  <div layout="column" layout-gt-sm="row">
    <div flex="50">
        
        <div class="surveyheader">
            <span class="md-headline">Survey</span>
            <div id="status-buttons" class="text-center">
                <a ui-sref-active="active" ui-sref=".practiceTime"><span class="progress"></span></a>
                <a ui-sref-active="active" ui-sref=".localShows"><span class="progress"></span></a>
                <a ui-sref-active="active" ui-sref=".touring"><span class="progress"></span></a>
                <a ui-sref-active="active" ui-sref=".recording"><span class="progress"></span></a>
                <a ui-sref-active="active" ui-sref=".songwriting"><span class="progress"></span></a>
            </div>
        </div>
            
        <form id="survey-form" ng-submit="processForm()">
            <div id="survey-views" ui-view></div>
        </form>
        
    </div>
  </div>
</div>