<div layout="column" layout-padding>
    <div flex="50">
        <div class="surveyheader">
            <span class="md-headline">Survey</span>
            <div id="status-buttons" class="text-center">
                <a ui-sref-active="active" ui-sref=".politicsBand"><span class="progress"></span></a>
                <a ui-sref-active="active" ui-sref=".religion"><span class="progress"></span></a>
                <a ui-sref-active="active" ui-sref=".religionBand"><span class="progress"></span></a>
                <a ui-sref-active="active" ui-sref=".drink"><span class="progress"></span></a>
                <a ui-sref-active="active" ui-sref=".drugs"><span class="progress"></span></a>
            </div>
        </div>
            
        <div class="detailsform" id="surveycontainer" flex="50">
            <div id="survey-views" ui-view></div>
        </div>
    </div>
</div>