<form flex layout="column">
  <span class="md-subhead">What types of venues do you enjoy?</span>
  <md-input-container class="detailsinput">
    <input ng-model="survey4.profile.venuesAnswer" ng-disabled="!survey4.isLoggedIn">
  </md-input-container>
  
    <span class="md-subhead">How important is this to you?</span>
    <div layout>
      <div flex="10" layout layout-align="center center">
          <span class="sliderlabel small md-body-1">Not at all</span>
      </div>
      <md-slider flex class="md-accent" md-discrete ng-model="survey4.profile.venuesWeight" step="1" min="1" max="5" aria-label="importance"></md-slider>
      <div flex="10" layout layout-align="center center">
          <span class="sliderlabel small md-body-1">Very</span>
      </div>
    </div>

  <div layout="row">
    <md-button ng-click="survey4.save()" ui-sref="survey4.venuesBad" class="nextbutton md-raised">Next</md-button>
  </div>
</form>