<div class="staticpagecontainer">
    <span class="md-headline">Seeking Terms and Conditions of Use</span><br><br>
    <md-content>Hey all! Welcome to Seeking's Terms and Conditions of Use (these "Terms"). 
    Our lawyers insisted that we impose rules on users to protect all of our hard work. 
    This is a contract between you and Seeking, LLC and we want you to know yours and our 
    rights before you use the Seeking application ("App"). Please take a few moments to read 
    these Terms before enjoying the App, because once you access, view or use the App, you are 
    going to be legally bound by these Terms (so probably best to read them first!).</md-content><br>
    
    <span class="md-subhead">1. SEEKING RULES</span><br>
    <md-content>There’s not a whole lot to the app yet, but we’ll update this accordingly
    and let you guys know when things get going.</md-content><br>
    <md-content>If, at any point before we give you the beta of the App, you want to delete your 
    profile and stop using Seeking, simply revisit our website and hit the "delete profile" button 
    to delete the information you entered (you can always create another profile later).</md-content><br>
    <md-content>Seeking, LLC reserve the right at our sole discretion to terminate or suspend 
    any Account, or make use of any operational, technological, legal or other means available 
    to enforce the Terms (including without limitation blocking specific IP addresses), at any 
    time without liability and without the need to give you prior notice.</md-content><br>
    
    <span class="md-subhead">2. PRIVACY</span><br>
    <md-content>For information about how Seeking, LLC collects, uses, and shares your personal data, 
    please check out our <span ui-sref="privacy">Privacy Policy</span> – this is important stuff, 
    and makes for good reading on the bus or the train! By using Seeking, you agree that we can 
    use such data in accordance with our <span ui-sref="privacy">Privacy Policy</span>.</md-content><br>
    
    <span class="md-subhead">3. DISCLAIMER</span><br>
    <md-content>Brace yourselves, this may look daunting but it is very important!</md-content><br>
    <md-content>THE APP, SITE, OUR CONTENT, AND MEMBER CONTENT ARE ALL PROVIDED TO YOU "AS IS" AND 
    "AS AVAILABLE" WITHOUT WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO, 
    FITNESS FOR A PARTICULAR PURPOSE, TITLE, OR NON-INFRINGEMENT.</md-content><br>
    <md-content>SHOULD APPLICABLE LAW NOT PERMIT THE FOREGOING EXCLUSION OF EXPRESS OR IMPLIED WARRANTIES, 
    THEN WE GRANT THE MINIMUM EXPRESS OR IMPLIED WARRANTY REQUIRED BY APPLICABLE LAW. NO ADVICE OR INFORMATION, 
    WHETHER ORAL OR WRITTEN, SHALL CREATE ANY WARRANTY, REPRESENTATION OR GUARANTEE NOT EXPRESSLY STATED 
    IN THIS SECTION.</md-content><br>
    <md-content>ADDITIONALLY, WE DO NOT MAKE ANY WARRANTIES THAT THE APP OR SITE WILL BE UNINTERRUPTED, 
    SECURE OR ERROR FREE OR THAT YOUR USE OF THE APP OR SITE WILL MEET YOUR EXPECTATIONS, OR THAT THE APP, 
    SITE, OUR CONTENT, ANY MEMBER CONTENT, OR ANY PORTION THEREOF, IS CORRECT, ACCURATE, OR RELIABLE. 
    YOUR USE OF THE APP OR SITE IS AT YOUR OWN RISK. YOU ARE SOLELY RESPONSIBLE FOR YOUR INTERACTIONS WITH 
    OTHER MEMBERS. SEEKING, LLC IS NOT RESPONSIBLE FOR THE CONDUCT OF ANY USER.</md-content><br>
    <md-content>NEITHER US NOR ANY OWNER WILL BE LIABLE FOR ANY DAMAGES, DIRECT, INDIRECT, INCIDENTAL, 
    CONSEQUENTIAL, SPECIAL, OR PUNITIVE, INCLUDING, WITHOUT LIMITATION, LOSS OF DATA, INCOME, PROFIT OR GOODWILL, 
    LOSS OF OR DAMAGE TO PROPERTY AND CLAIMS OF THIRD PARTIES ARISING OUT OF YOUR ACCESS TO OR USE OF THE APP, 
    SITE, OUR CONTENT, OR ANY MEMBER CONTENT, HOWEVER CAUSED, WHETHER BASED ON BREACH OF CONTRACT, 
    TORT (INCLUDING NEGLIGENCE), PROPRIETARY RIGHTS INFRINGEMENT, PRODUCT LIABILITY OR OTHERWISE.</md-content><br>
    <md-content>THE FOREGOING SHALL APPLY EVEN IF WE WERE ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. 
    IF YOU BECOME DISSATISFIED IN ANY WAY WITH THE APP OR SITE, YOUR SOLE AND EXCLUSIVE REMEDY IS TO 
    STOP YOUR USE OF THE APP AND SITE.</md-content><br>
    <md-content>YOU HEREBY WAIVE ANY AND ALL CLAIMS ARISING OUT OF YOUR USE OF THE APP OR SITE. 
    BECAUSE SOME STATES DO NOT ALLOW THE DISCLAIMER OF IMPLIED WARRANTIES OR THE EXCLUSION OR LIMITATION OF 
    CERTAIN TYPES OF DAMAGES, THESE PROVISIONS MAY NOT APPLY TO YOU. IF ANY PORTION OF THIS LIMITATION ON 
    LIABILITY IS FOUND TO BE INVALID OR UNENFORCEABLE FOR ANY REASON, THEN OUR AGGREGATE LIABILITY SHALL 
    NOT EXCEED ONE HUNDRED DOLLARS ($100).</md-content><br>
    <md-content>THE LIMITATION OF LIABILITY HEREIN IS A FUNDAMENTAL ELEMENT OF THE BASIS OF THE BARGAIN 
    AND REFLECTS A FAIR ALLOCATION OF RISK. THE APP AND SITE WOULD NOT BE PROVIDED WITHOUT SUCH LIMITATIONS 
    AND YOU AGREE THAT THE LIMITATIONS AND EXCLUSIONS OF LIABILITY, DISCLAIMERS AND EXCLUSIVE REMEDIES 
    SPECIFIED HEREIN WILL SURVIVE EVEN IF FOUND TO HAVE FAILED IN THEIR ESSENTIAL PURPOSE.</md-content><br>
    
    <span class="md-subhead">4. INDEMNITY</span><br>
    <md-content>All the actions you make and information you post on Seeking remain your responsibility. 
    Therefore, you agree to indemnify, defend, release, and hold us, and our partners, licensors, affiliates, 
    contractors, officers, directors, employees, representatives and agents, harmless, from and against any 
    third party claims, damages (actual and/or consequential), actions, proceedings, demands, losses, liabilities, 
    costs and expenses (including reasonable legal fees) suffered or reasonably incurred by us arising as a result of, 
    or in connection with:</md-content><br>
    <md-content>1.  any negligent acts, omissions or wilful misconduct by you;</md-content><br>
    <md-content>2.	your access to and use of the App;</md-content><br>
    <md-content>3.	the uploading or submission of Content to the App by you;</md-content><br>
    <md-content>4.	any breach of these Terms by you; and/or</md-content><br>
    <md-content>5.	your violation of any law or of any rights of any third party.</md-content><br>
    <md-content>We retain the exclusive right to settle, compromise and pay any and all claims or causes 
    of action which are brought against us without your prior consent. If we ask, you will co-operate fully 
    and reasonably as required by us in the defence of any relevant claim.</md-content><br>
    
    <span class="md-subhead">5. MISCELLANEOUS</span><br>
    <md-content>There are a few more things we need to mention before you can use Seeking. Please bear with us, 
    we're nearly done!</md-content><br>
    
    <span class="md-subhead">These standard clauses at the end of most contracts (*YAWN*)</span><br>
    <md-content>These Terms, which we may amend from time to time, constitute the entire agreement 
    between you and Seeking, LLC. The Terms supersede all previous agreements, representations and arrangements 
    between us (written or oral). Nothing in this clause shall limit or exclude any liability for fraudulent 
    misrepresentation.</md-content><br>
    <md-content>Seeking, LLC has taken reasonable steps to ensure the currency, availability, correctness 
    and completeness of the information contained on Seeking and provides that information on an "as is", 
    "as available" basis. Seeking, LLC does not give or make any warranty or representation of any kind about 
    the information contained on Seeking, whether express or implied. Use of Seeking and the materials available 
    on it is at your sole risk. Seeking, LLC can not be held responsible for any loss arising from the transmission, 
    use of data, or inaccurate User Content.</md-content><br>
    <md-content>You are responsible for taking all necessary precautions to ensure that any material you may obtain 
    from Seeking is free of viruses or other harmful components. You accept that Seeking will not be provided 
    uninterrupted or error free, that defects may not be corrected or that Seeking, LLC, or the server that 
    makes it available, are free of viruses or bugs, spyware, Trojan horse or any similar malicious software. 
    Seeking, LLC is not responsible for any damage to your computer hardware, computer software, or other equipment 
    or technology including, but without limitation damage from any security breach or from any virus, bugs, tampering, 
    fraud, error, omission, interruption, defect, delay in operation or transmission, computer line or network failure 
    or any other technical or other malfunction.</md-content><br>
    
    <span class="md-subhead">We know our Terms are rad, but we may have to change them every now and then</span><br>
    <md-content>As Seeking grows, we might have to make changes to these Terms so we reserve the right to modify, 
    amend or change the Terms at any time (a "Change"). If we do this then the Changes will be posted on this page and 
    we will indicate the Effective Date of the updates at the bottom of the Terms. In certain circumstances, we may 
    send an email to you notifying you of a Change. You should regularly check this page for notice of any Changes
    – we want our users to be as informed as possible.</md-content><br>
    <md-content>Your continued use of Seeking following any Change constitutes your acceptance of the Change 
    and you will be legally bound by the new updated Terms. If you do not accept any Changes to the Terms, you 
    should stop using Seeking immediately (yikes!).</md-content><br>
    
    <span class="md-subhead">Some more legal bull</span><br>
    <md-content>If, for any reason, any of the Terms are declared illegal, invalid or otherwise unenforceable by a court of a 
    competent jurisdiction, then to the extent that term is illegal, invalid or unenforceable, it shall be severed 
    and deleted from the Terms and the remainder of the Terms shall survive, remain in full force and effect and 
    continue to be binding and enforceable.</md-content><br>
    
    <md-content>No failure or delay in exercising any right, power or privilege under the Terms shall operate as a 
    waiver of such right or acceptance of any variation of the Terms and nor shall any single or partial exercise 
    by either party of any right, power or privilege preclude any further exercise of the right or the exercise 
    of any other right, power or privilege.</md-content><br>
    
    <md-content>You represent and warrant that:</md-content><br>
    <md-content>1.	you are not located in a country that is subject to a U.S. Government embargo, 
    or that has been designated by the U.S. Government as a "terrorist supporting" country; and</md-content><br>
    <md-content>2.	you are not listed on any U.S. Government list of prohibited or restricted parties.</md-content><br>
    
    <md-content>By using the App, you agree and acknowledge that Seeking is a global app operating through servers 
    located in a number of countries around the world, including the United States. If you live in a country with 
    data protection laws, the storage of your personal data may not provide you with the same protections as you
    enjoy in your country of residence. By submitting your personal information, or by choosing to upgrade the 
    services you use, or by making use of the applications available on Seeking, you agree to the transfer of your 
    personal information to, and storage and processing of your personal information in, any such countries and 
    destinations.</md-content><br>
    
    <md-content>The App may contain links to third-party websites or resources. In such cases, you acknowledge 
    and agree that we are not responsible or liable for:</md-content><br>
    <md-content>1.	the availability or accuracy of such websites or resources; or</md-content><br>
    <md-content>2.	the content, products, or services on or available from such websites or resources.</md-content><br>
    <md-content>Links to such websites or resources do not imply any endorsement. You acknowledge sole responsibility 
    for and assume all risk arising from your use of any such websites or resources. Framing, in-line linking or other 
    methods of association with the App are expressly prohibited without first obtaining our prior 
    written approval.</md-content><br>
    <md-content>These Terms, and any rights and licenses granted hereunder, may not be transferred or assigned by you, 
    but may be assigned by us without restriction.</md-content><br>
    
    <span class="md-subhead">12. ABOUT US</span><br>
    <md-content>Your access to the App, Our Content, and any Member Content, as well as these Terms are governed and 
    interpreted by the laws of the State of Illinois, other than such laws, rules, regulations and case law that would 
    result in the application of the laws of a jurisdiction other than the State of Illinois. By using the App, 
    you are consenting to the exclusive jurisdiction of the courts of the United States and the State of Illinois. 
    You agree that such courts shall have in personam jurisdiction and venue and waive any objection based on inconvenient 
    forum. You agree that you will not file or participate in a class action against us. In the event there is a discrepancy 
    between this English language version and any translated copies of the Terms, the English version 
    shall prevail.</md-content><br>
    
    <md-content>Seeking is a partnership in the United States. 
    Our registered address is 4245 N. Knox Ave, Chicago, IL 60641.</md-content><br>
    
    <span class="md-subhead">Effective date</span><br>
    <md-content>These Terms and Conditions were last updated on 19 October 2016.</md-content>
    
    <div layout="row">
        <p class="small">&copy; 2016 Seeking</p>
    </div><br><br><br>
</div>