<div flex class="detailsform" layout="column" layout-padding>
  <div layout="column" layout-gt-sm="row"  layout-padding>
    <form flex layout="column">
      <md-input-container class="detailsinput">
        <label>First Name</label>
        <input ng-model="profileDetails.profile.firstName" ng-disabled="!profileDetails.isOwner">
      </md-input-container>
 
      <!--<md-input-container class="detailsinput" ng-hide="!profileDetails.isOwner">-->
      <!--  <label>Last Name</label>-->
      <!--  <input ng-model="profileDetails.profile.lastName" ng-disabled="!profileDetails.isOwner">-->
      <!--</md-input-container>-->
      
      <md-input-container class="detailsinput">
        <label>Instrument 1</label>
        <input ng-model="profileDetails.profile.instrument1" ng-disabled="!profileDetails.isOwner">
      </md-input-container>
      
      <md-input-container class="detailsinput">
        <label>Instrument 2</label>
        <input ng-model="profileDetails.profile.instrument2" ng-disabled="!profileDetails.isOwner">
      </md-input-container>
      
      <md-input-container class="detailsinput">
        <label>City</label>
        <input ng-model="profileDetails.profile.city" ng-disabled="!profileDetails.isOwner">
      </md-input-container>
      
      <md-input-container class="detailsinput">
        <label>State</label>
        <input ng-model="profileDetails.profile.state" ng-disabled="!profileDetails.isOwner">
      </md-input-container>
      
      <md-input-container class="detailsinput">
        <label>Age</label>
        <input ng-model="profileDetails.profile.age" ng-disabled="!profileDetails.isOwner">
      </md-input-container>
      
      <md-input-container class="detailsinput">
        <label>Bio</label>
        <input ng-model="profileDetails.profile.bio" ng-disabled="!profileDetails.isOwner">
      </md-input-container>
      
      <md-input-container class="detailsinput">
        <label>Favorite Genres</label>
        <input ng-model="profileDetails.profile.favGenres" ng-disabled="!profileDetails.isOwner">
      </md-input-container>
      
      <md-input-container class="detailsinput">
        <label>Favorite Bands/Artists</label>
        <input ng-model="profileDetails.profile.favBands" ng-disabled="!profileDetails.isOwner">
      </md-input-container>
      
      <!--<profile-unmatched profile="profileDetails.profile"></profile-unmatched>-->
      
      <!--<profile-map location="profileDetails.profile.location"></profile-map>-->
      <div layout="row" layout-align="center center">
        <div layout="row">
          <md-button ng-click="profileDetails.save()" ui-sref="profiles" class="md-fab md-mini"><md-icon md-svg-icon="content:ic_save_24px"></md-icon></md-button>
          <md-button ui-sref="survey1" class="md-fab md-mini md-warn"><md-icon md-svg-icon="social:ic_poll_24px"></md-button>
        </div>
      </div>
    </form>
  </div>
</div>

