<div flex class="detailsform" layout="column" layout-padding>
  <div layout="column" layout-gt-sm="row"  layout-padding>
    <form flex layout="column">
      <md-input-container class="detailsinput">
        <label>First Name</label>
        <input ng-model="profileDetails.profile.firstName" ng-disabled="!profileDetails.isOwner">
      </md-input-container>
 
      <!--<md-input-container class="detailsinput" ng-hide="!profileDetails.isOwner">-->
      <!--  <label>Last Name</label>-->
      <!--  <input ng-model="profileDetails.profile.lastName" ng-disabled="!profileDetails.isOwner">-->
      <!--</md-input-container>-->
      
      <md-input-container class="detailsinput">
        <label>Instrument 1</label>
        <input ng-model="profileDetails.profile.instrument1" ng-disabled="!profileDetails.isOwner">
      </md-input-container>
      
      <md-input-container class="detailsinput">
        <label>Instrument 2</label>
        <input ng-model="profileDetails.profile.instrument2" ng-disabled="!profileDetails.isOwner">
      </md-input-container>
      
      <md-input-container class="detailsinput">
        <label>City</label>
        <input ng-model="profileDetails.profile.city" ng-disabled="!profileDetails.isOwner">
      </md-input-container>
      
      <md-input-container class="detailsinput">
        <label>State</label>
        <input ng-model="profileDetails.profile.state" ng-disabled="!profileDetails.isOwner">
      </md-input-container>
      
      <md-input-container class="detailsinput">
        <label>Age</label>
        <input ng-model="profileDetails.profile.age" ng-disabled="!profileDetails.isOwner">
      </md-input-container>
      
      <md-input-container class="detailsinput">
        <label>Bio</label>
        <input ng-model="profileDetails.profile.bio" ng-disabled="!profileDetails.isOwner">
      </md-input-container>
      
      <md-input-container class="detailsinput">
        <label>Favorite Genres</label>
        <input ng-model="profileDetails.profile.favGenres" ng-disabled="!profileDetails.isOwner">
      </md-input-container>
      
      <md-input-container class="detailsinput">
        <label>Favorite Bands/Artists</label>
        <input ng-model="profileDetails.profile.favBands" ng-disabled="!profileDetails.isOwner">
      </md-input-container>
      
      <!--<profile-unmatched profile="profileDetails.profile"></profile-unmatched>-->
      
      <!--<profile-map location="profileDetails.profile.location"></profile-map>-->
      <div layout="row">
        <div layout="row" layout-align>
          <md-button ng-show="profileDetails.isOwner" ng-click="profileDetails.save()" ui-sref="profiles" class="md-raised">Save</md-button>
          <md-button ng-show="!profileDetails.isOwner" ui-sref="profiles2" class="md-raised">Back</md-button>
          <md-button ng-show="profileDetails.isOwner" ui-sref="survey1" class="md-raised md-warn">Take Survey</md-button>
          <md-button ng-show="!profileDetails.isOwner" ui-sref="surveyDetails({ profileId: profile._id })" class="md-raised md-accent">View Survey Answers</md-button>
        </div>
      </div>
    </form>
  </div>
</div>

