<div class="staticpagecontainer">
    <span class="md-headline">Seeking Privacy Policy</span><br><br>
    <md-content>Welcome to the Seeking Privacy Policy ("Policy")! This explains how we collect, store, protect, 
    and share your information, and with whom we share it. We suggest you read this in conjunction with our real good 
    <span ui-sref="terms">Terms and Conditions of Use.</span> While you're enjoying the Seeking experience ("App"), 
    we collect some information about you. In addition, you may choose to use the App to share information with other 
    Seekers, including your friends and contacts ("Users"). We may also need to share your information sometimes.
    By signing up ("Signing Up"), you agree that we can collect, transfer, 
    store, disclose and use your information as described in this Policy. Seeking is a global app, and your information 
    will be sent to and used in the United States regardless of the country you reside in, and by Signing Up 
    you consent to such transfer. So please read very carefully!
    </md-content><br>
    
    <md-content>If you have any questions or comments about this Policy, please feel free to contact us 
    at seekingmobileapp@gmail.com.</md-content><br>
    
    <span class="md-subhead">1. COLLECTION OF INFORMATION.</span><br>
    <span class="md-subhead">Registration Information</span><br>
    <md-content>When you enter your Code and proceed to enter your information ("Initial Information"), 
    you will enter:</md-content><br>
    <md-content>Name</md-content><br>
    <md-content>Email address, and;</md-content><br>
    <md-content>Zipcode</md-content><br>
    <md-content>This information will allow us to keep in touch with you about exciting new developments, 
    including when we actually launch this thing.</md-content><br>
    
    <span class="md-subhead">Data Storage</span><br>
    <md-content>By using the App, you agree and acknowledge that Seeking is a global app 
    operating through servers located in a number of countries around the world, including the United States. 
    If you live in a country with data protection laws, the storage of your personal data may not provide you 
    with the same protections as you enjoy in your country of residence. By submitting your personal information, 
    or by choosing to upgrade the services you use, or by making use of the applications available on Seeking, 
    you agree to the transfer of your personal information to, and storage and processing of your personal 
    information in, any such countries and destinations.</md-content><br>
    
    <span class="md-subhead">Log And Usage Data</span><br>
    <md-content>Our servers automatically record information ("Log and Usage Data") created by your use of the App, 
    which again helps us to improve our service. Log and Usage Data may include information such as your 
    IP address, browser type, the referring domain, pages visited, access times, your mobile carrier, 
    and search terms.</md-content><br>
    
    <span class="md-subhead">Device Information</span><br>
    <md-content>We may collect information about your device when you use the App including the unique device identifier, 
    device model, operating system, and MAC address. In addition, if you permit us to do so, the App may access your device's 
    address book and contact lists in order to offer you certain features of our Services.</md-content><br>
    
    <span class="md-subhead">Cookies</span><br>
    <md-content>Real-life cookies are a delicious treat. In tech, they are small data files that are transferred 
    to your computer's hard disk. Like many websites, we use "cookie" technology to collect additional website 
    usage data and to improve Seeking.</md-content><br>
    <md-content>Cookies store information about your website visits and can recognize you and your preferences 
    each time you visit Seeking. They help us to provide a better service to you, and that is cool.</md-content><br>
    <md-content>If for any reason you decide that you do not want all of your Seeking activities to be stored you may 
    set your browser and mobile settings to block cookies and local storage devices, but please remember that if you do so, 
    you may not be able to access all of the features Seeking offers!</md-content><br>
    
    <span class="md-subhead">1. USE OF INFORMATION.</span><br>
    <md-content>Our main goal is to ensure your experience on Seeking is real nice. In order to deliver an enjoyable 
    experience to you, we may use your Initial Information to:</md-content><br>
    <md-content>offer you our services and features;</md-content><br>
    <md-content>contact you with information about the App (e.g., updates and new offerings);</md-content><br>
    <md-content>personalize the App and the content we deliver to you;</md-content><br>
    <md-content>conduct research and analytics about how you use and interact with the App;</md-content><br>
    <md-content>resolve disputes between you and other Users, and;</md-content><br>
    <md-content>investigate fraud, protect our legal rights, and to enforce our Terms & Conditions.</md-content><br>
    
    <span class="md-subhead">2. DISCLOSURE OF INFORMATION.</span><br>
    <md-content>Our policy is to not disclose your Initial Information, 
    except in the limited circumstances described here:</md-content><br>
    <md-content>Your Consent – If you consent, we may share or disclose your Registration Information, 
    such as when you use a third party web client or application to access your Account.</md-content><br>
    <md-content>Service Providers - We engage certain trusted third parties to perform functions 
    and provide services to us. We may share your Registration Information with these third parties, 
    but only for the purposes of performing these functions and providing such services.</md-content><br>
    <md-content>Law and Harm - As we mentioned in the <span ui-sref="terms">Terms and Conditions,</span> we think it is very important that 
    all Seekers behave whilst using the App. We will cooperate with all third parties to enforce their 
    intellectual property or other rights. We will also cooperate with law enforcement enquiries from 
    within or outside your country of residence. This may include preserving or disclosing any of your information, 
    including your Initial Information, if we believe in good faith that it is necessary to comply with a law or regulation, 
    or when we believe that disclosure is necessary to comply with a judicial proceeding, court order, or legal request; 
    to protect the safety of any person; to address fraud, security or technical issues; or to protect our rights or 
    property or those of third parties. In such cases we may raise or waive any legal objection or 
    right available to us.</md-content><br>
    <md-content>Business Transfers - In the event that Seeking or any of our affiliates are involved in a bankruptcy, 
    merger, acquisition, reorganization or sale of assets, your information may be sold or transferred as part of that 
    transaction.</md-content><br>
    <md-content>Non-Private or Non-Personal Information - We may share or disclose your non-private, aggregated or 
    otherwise non-personal information with third parties for industry analysis and demographic profiling and to deliver 
    targeted advertising about other products and services and for marketing purposes. You may opt-out of receiving 
    marketing messages by using the opt-out mechanisms and links provided in each email.</md-content><br>
    
    <span class="md-subhead">3. MODIFYING YOUR REGISTRATION INFORMATION.</span><br>
    <md-content>You may access or modify the Initial Information you provided at anytime or permanently 
    delete it (although we really hope you don't!)</md-content><br>
    <md-content>To prevent abuse and/or misuse of Seeking by a User following deletion of Initial Information 
    we shall retain such information as we deem in our sole discretion may be necessary to ensure that User 
    does not open a new Account and profile in breach of our <span ui-sref="terms">Terms and Conditions</span> 
    and to ensure compliance with all laws and regulations.</md-content><br>
    <md-content>WARNING: Even after you remove information from your profile or delete your Account, 
    copies of that information may still be viewable and/or accessed to the extent such information 
    has been previously shared with others, or copied or stored by other Users or to the extent such 
    information has been shared with search engines. We cannot control this, nor do we accept any liability for this. 
    If you have given third party applications or websites access to your personal information they may retain such 
    information to the extent permitted under their terms of service or privacy policies.
    Removed and deleted information may persist in backup copies for up to 30 days to enable restoration, 
    but will not be available to others in the meantime.
    </md-content><br>
    
    <span class="md-subhead">4. CHANGES TO THIS POLICY.</span><br>
    <md-content>As Seeking evolves, we may revise this Privacy Policy from time to time. 
    The most current version of the policy will govern our use of your information and will 
    always be at seekingmusicapp.com/privacy/. If we make a change to this policy that, in our sole discretion, 
    is material, we will notify you, for example, via an email to the email you entered in your Initial Information 
    or by posting a notice within Seeking. By continuing to access or use the App after those changes become effective, 
    you agree to be bound by the revised Privacy Policy.</md-content><br>
    
    <span class="md-subhead">5. SECURITY.</span><br>
    <md-content>Here at Seeking we pride ourselves on taking commercially reasonable security measures to help protect 
    your information against loss, misuse and unauthorized access, or disclosure. We use reasonable security measures 
    to safeguard the confidentiality of your personal information.</md-content><br>
    <md-content>Unfortunately no website or Internet transmission is ever completely 100% secure and even we cannot 
    guarantee that unauthorized access, hacking, data loss or other breaches will never occur.</md-content><br>
    <md-content>If you ever think someone has had access to your information, please report it to us by emailing 
    seekingmobileapp@gmail.com and we will resolve the situation.</md-content><br>
    <md-content>WE EXPRESSLY DISCLAIM ANY REPRESENTATION OR WARRANTY, WHETHER EXPRESS OR IMPLIED, WITH RESPECT TO 
    ANY BREACHES OF SECURITY, DAMAGE TO YOUR DEVICE, OR ANY LOSS OR UNAUTHORIZED USE OF YOUR INITIAL INFORMATION 
    OR OTHER DATA.</md-content><br>
    
    <span class="md-subhead">6. YOUR CALIFORNIA PRIVACY RIGHTS.</span><br>
    <md-content>California's "Shine the Light" law, Civil Code section 1798.83, requires certain businesses to respond to 
    requests from California customers asking about the businesses' practices related to disclosing personal information 
    to third parties for the third parties' direct marketing purposes. If you wish to find out about any rights you may 
    have under California Civil Code section 1798.83, you can write to us at seekingmobileapp@gmail.com. In addition, 
    under California law, operators of online services are required to disclose how they respond to "do not track" 
    signals or other similar mechanisms that provide consumers the ability to exercise choice regarding the collection of 
    personal information of a consumer over time and across third party online services, to the extent the operator engages
    in that collection. At this time, we do not track our Users' personal information over time and across third-party 
    online services. This law also requires operators of online services to disclose whether third parties may collect 
    personal information about their users' online activities over time and across different online services when the 
    users use the operator's service. We do not knowingly permit third parties to collect personal information about an 
    individual User's online activities over time and across different online services when using the App.</md-content><br>
    
    <span class="md-subhead">7. ABOUT US.</span><br>
    <md-content>Your access to the App, as well as this Privacy Policy are governed and interpreted by the laws of the 
    State of Illinois, other than such laws, rules, regulations and case law that would result in the application of the 
    laws of a jurisdiction other than the State of Illinois. By using the App, you are consenting to the exclusive 
    jurisdiction of the courts of the United States and the State of Illinois. You agree that such courts shall have in 
    personam jurisdiction and venue and waive any objection based on inconvenient forum. You agree that you will not file 
    or participate in a class action against us. In the event there is a discrepancy between this English language version 
    and any translated copies of the Policy, the English version shall prevail.</md-content><br>
    
    <md-content>Seeking is an LLC in the United States. 
    Our registered address is 4245 N. Knox Ave, Chicago, IL 60641.</md-content><br>
    
    <md-content>Thanks for sticking with us!</md-content><br>
    
    <span class="md-subhead">Effective date</span><br>
    <md-content>This Privacy Policy was last updated on 6 February 2017.</md-content>
    
    <div layout="row">
        <p class="small">&copy; 2017 Seeking LLC, all rights reserved</p>
    </div><br><br><br>
</div>