navigation {
  width: 100%;
  z-index: 100;
  height: 23%;
  .mainhead{
    background-color: #3ac1d3;
  }
  login-buttons {
    margin-left: 15px;
  }
  [ui-sref] {
    cursor: pointer;
    margin-left: 5px;
  }
  h2 {
    text-align: center;
  }
  .slogonav {
    height: 35px;
  }
  .mainlogo {
    height: 35px;
    text-align: center;
  }
}