<div layout="column" layout-padding>
    <div flex-xs flex-gt-xs="50" layout="column">
        <span class="surveyhead md-headline">Survey</span>
        
        <md-card>
            <div flex layout="row" class="surveyq">
                <div layout="column" flex>
                    <div flex layout="column" class="sliderquestioncontainer">
                        <span class="md-subhead">How much live band experience do you have?</span>
                        <div flex layout="row" layout-align="center center" class="slidercontainer">
                            <md-slider flex="95" md-discrete ng-model="survey2.profile.liveBandAnswer1" step="1" min="1" max="5" aria-label="importance" class="weightslider"></md-slider>
                        </div>
                        <div flex layout>
                            <div flex layout>
                                <span class="sliderlabel small md-body-1">None</span>
                            </div>
                            <div flex layout layout-align="end">
                                <span class="sliderlabel small md-body-1">A lot</span>
                            </div>
                        </div>
                    </div>
                    
                    <div flex layout="column" class="sliderquestioncontainer">
                        <span class="md-subhead">How would you want a future bandmate to answer this?</span>
                        <div flex layout="row" layout-align="center center" class="slidercontainer">
                            <md-slider flex="95" md-discrete ng-model="survey2.profile.liveBandAnswer2" step="1" min="1" max="5" aria-label="importance" class="weightslider"></md-slider>
                        </div>
                        <div flex layout>
                            <div flex layout>
                                <span class="sliderlabel small md-body-1">None</span>
                            </div>
                            <div flex layout layout-align="end">
                                <span class="sliderlabel small md-body-1">A lot</span>
                            </div>
                        </div>
                    </div>
                    
                    <div flex layout="column" class="weightcontainer2">
                        <span class="md-subhead">How important is agreement on this issue to you?</span>
                        <div flex layout="row" layout-align="center center" class="slidercontainer2">
                            <md-slider flex="95" md-discrete ng-model="survey2.profile.liveBandWeight" step="1" min="1" max="5" aria-label="importance" class="weightslider"></md-slider>
                        </div>
                        <div flex layout>
                            <div flex layout>
                                <span class="sliderlabel small md-body-1">Not at all</span>
                            </div>
                            <div flex layout layout-align="end">
                                <span class="sliderlabel small md-body-1">Very</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </md-card>
        
        
        <md-card>
            <div flex layout="row" class="surveyq">
                <div layout="column" flex>
                    <div flex layout="column" class="sliderquestioncontainer">
                        <span class="md-subhead">How much gear do you have?</span>
                        <div flex layout="row" layout-align="center center" class="slidercontainer">
                            <md-slider flex="95" md-discrete ng-model="survey2.profile.gearAnswer1" step="1" min="1" max="5" aria-label="importance" class="weightslider"></md-slider>
                        </div>
                        <div flex layout>
                            <div flex layout>
                                <span class="sliderlabel small md-body-1">None</span>
                            </div>
                            <div flex layout layout-align="end">
                                <span class="sliderlabel small md-body-1">Ready to gig</span>
                            </div>
                        </div>
                    </div>
                    
                    <div flex layout="column" class="sliderquestioncontainer">
                        <span class="md-subhead">How would you want a future bandmate to answer this?</span>
                        <div flex layout="row" layout-align="center center" class="slidercontainer">
                            <md-slider flex="95" md-discrete ng-model="survey2.profile.gearAnswer2" step="1" min="1" max="5" aria-label="importance" class="weightslider"></md-slider>
                        </div>
                        <div flex layout>
                            <div flex layout>
                                <span class="sliderlabel small md-body-1">None</span>
                            </div>
                            <div flex layout layout-align="end">
                                <span class="sliderlabel small md-body-1">Ready to gig</span>
                            </div>
                        </div>
                    </div>
                    
                    <div flex layout="column" class="weightcontainer2">
                        <span class="md-subhead">How important is agreement on this issue to you?</span>
                        <div flex layout="row" layout-align="center center" class="slidercontainer2">
                            <md-slider flex="95" md-discrete ng-model="survey2.profile.gearWeight" step="1" min="1" max="5" aria-label="importance" class="weightslider"></md-slider>
                        </div>
                        <div flex layout>
                            <div flex layout>
                                <span class="sliderlabel small md-body-1">Not at all</span>
                            </div>
                            <div flex layout layout-align="end">
                                <span class="sliderlabel small md-body-1">Very</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </md-card>
        
        
        <md-card>
            <div flex layout="row" class="surveyq">
                <div layout="column" flex>
                    <div flex layout="column" class="sliderquestioncontainer">
                        <span class="md-subhead">How much of a priority do you want a band to be in your life?</span>
                        <div flex layout="row" layout-align="center center" class="slidercontainer">
                            <md-slider flex="95" md-discrete ng-model="survey2.profile.priorityAnswer" step="1" min="1" max="5" aria-label="importance" class="weightslider"></md-slider>
                        </div>
                        <div flex layout>
                            <div flex layout>
                                <span class="sliderlabel small md-body-1">Casual</span>
                            </div>
                            <div flex layout layout-align="end">
                                <span class="sliderlabel small md-body-1">Sole focus</span>
                            </div>
                        </div>
                    </div>
                    
                    <div flex layout="column" class="weightcontainer2">
                        <span class="md-subhead">How important is agreement on this issue to you?</span>
                        <div flex layout="row" layout-align="center center" class="slidercontainer2">
                            <md-slider flex="95" md-discrete ng-model="survey2.profile.priorityWeight" step="1" min="1" max="5" aria-label="importance" class="weightslider"></md-slider>
                        </div>
                        <div flex layout>
                            <div flex layout>
                                <span class="sliderlabel small md-body-1">Not at all</span>
                            </div>
                            <div flex layout layout-align="end">
                                <span class="sliderlabel small md-body-1">Very</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </md-card>
        
        
        <md-card>
            <div flex layout="row" class="surveyq">
                <div layout="column" flex>
                    <div flex layout="column" class="sliderquestioncontainer">
                        <span class="md-subhead">What production style do you prefer?</span>
                        <div flex layout="row" layout-align="center center" class="slidercontainer">
                            <md-slider flex="95" md-discrete ng-model="survey2.profile.productionAnswer" step="1" min="1" max="5" aria-label="importance" class="weightslider"></md-slider>
                        </div>
                        <div flex layout>
                            <div flex layout>
                                <span class="sliderlabel small md-body-1">Lo-fi</span>
                            </div>
                            <div flex layout layout-align="end">
                                <span class="sliderlabel small md-body-1">Big budget studio</span>
                            </div>
                        </div>
                    </div>
                    
                    <div flex layout="column" class="weightcontainer2">
                        <span class="md-subhead">How important is agreement on this issue to you?</span>
                        <div flex layout="row" layout-align="center center" class="slidercontainer2">
                            <md-slider flex="95" md-discrete ng-model="survey2.profile.productionWeight" step="1" min="1" max="5" aria-label="importance" class="weightslider"></md-slider>
                        </div>
                        <div flex layout>
                            <div flex layout>
                                <span class="sliderlabel small md-body-1">Not at all</span>
                            </div>
                            <div flex layout layout-align="end">
                                <span class="sliderlabel small md-body-1">Very</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </md-card>
        
        
        <md-card>
            <div flex layout="row" class="surveyq">
                <div layout="column" flex>
                    <div flex layout="column" class="sliderquestioncontainer">
                        <span class="md-subhead">How much money are you willing to spend on your ideal band?</span>
                        <div flex layout="row" layout-align="center center" class="slidercontainer">
                            <md-slider flex="95" md-discrete ng-model="survey2.profile.moneyAnswer1" step="1" min="1" max="5" aria-label="importance" class="weightslider"></md-slider>
                        </div>
                        <div flex layout>
                            <div flex layout>
                                <span class="sliderlabel small md-body-1">None</span>
                            </div>
                            <div flex layout layout-align="end">
                                <span class="sliderlabel small md-body-1">As much as it takes</span>
                            </div>
                        </div>
                    </div>
                    
                    <div flex layout="column" class="sliderquestioncontainer">
                        <span class="md-subhead">How would you want a future bandmate to answer this?</span>
                        <div flex layout="row" layout-align="center center" class="slidercontainer">
                            <md-slider flex="95" md-discrete ng-model="survey2.profile.moneyAnswer2" step="1" min="1" max="5" aria-label="importance" class="weightslider"></md-slider>
                        </div>
                        <div flex layout>
                            <div flex layout>
                                <span class="sliderlabel small md-body-1">None</span>
                            </div>
                            <div flex layout layout-align="end">
                                <span class="sliderlabel small md-body-1">As much as it takes</span>
                            </div>
                        </div>
                    </div>
                    
                    <div flex layout="column" class="weightcontainer2">
                        <span class="md-subhead">How important is agreement on this issue to you?</span>
                        <div flex layout="row" layout-align="center center" class="slidercontainer2">
                            <md-slider flex="95" md-discrete ng-model="survey2.profile.moneyWeight" step="1" min="1" max="5" aria-label="importance" class="weightslider"></md-slider>
                        </div>
                        <div flex layout>
                            <div flex layout>
                                <span class="sliderlabel small md-body-1">Not at all</span>
                            </div>
                            <div flex layout layout-align="end">
                                <span class="sliderlabel small md-body-1">Very</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </md-card>
        
        <div layout layout-align="end">
            <md-button ng-click="survey2.save()" ui-sref="survey3" class="nextbutton">Next</md-button>
        </div>
    </div>
</div>