<div layout="column" layout-padding>
    <div flex-xs flex-gt-xs="50" layout="column">
        <span class="surveyhead md-headline">Survey</span>
        
        <md-card>
            <div flex layout="row" class="surveyq">
                <div layout="column" flex>
                    <span class="md-subhead">What are your favorite records?</span>
                    <md-input-container class="detailsinput">
                        <input ng-model="survey1.profile.favRecordsAnswer">
                    </md-input-container>
                    
                    <div flex layout="column" class="weightcontainer">
                        <span class="md-subhead">How important is agreement on this issue to you?</span>
                        <div flex layout="row" layout-align="center center" class="slidercontainer">
                            <md-slider flex="95" md-discrete ng-model="survey1.profile.favRecordsWeight" step="1" min="1" max="5" aria-label="importance" class="weightslider"></md-slider>
                        </div>
                        <div flex layout>
                            <div flex layout>
                                <span class="sliderlabel small md-body-1">Not at all</span>
                            </div>
                            <div flex layout layout-align="end">
                                <span class="sliderlabel small md-body-1">Very</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </md-card>
        
        
        <md-card>
            <div flex layout="row" class="surveyq">
                <div layout="column" flex>
                    <span class="md-subhead">Who are your favorite producers?</span>
                    <md-input-container class="detailsinput">
                        <input ng-model="survey1.profile.favProducersAnswer">
                    </md-input-container>
                    
                    <div flex layout="column" class="weightcontainer">
                        <span class="md-subhead">How important is agreement on this issue to you?</span>
                        <div flex layout="row" layout-align="center center" class="slidercontainer">
                            <md-slider flex="95" md-discrete ng-model="survey1.profile.favProducersWeight" step="1" min="1" max="5" aria-label="importance" class="weightslider"></md-slider>
                        </div>
                        <div flex layout>
                            <div flex layout>
                                <span class="sliderlabel small md-body-1">Not at all</span>
                            </div>
                            <div flex layout layout-align="end">
                                <span class="sliderlabel small md-body-1">Very</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </md-card>
        
        
        <md-card>
            <div flex layout="row" class="surveyq">
                <div layout="column" flex>
                    <span class="md-subhead">What are your favorite record labels?</span>
                    <md-input-container class="detailsinput">
                        <input ng-model="survey1.profile.favLabelsAnswer">
                    </md-input-container>
                    
                    <div flex layout="column" class="weightcontainer">
                        <span class="md-subhead">How important is agreement on this issue to you?</span>
                        <div flex layout="row" layout-align="center center" class="slidercontainer">
                            <md-slider flex="95" md-discrete ng-model="survey1.profile.favLabelsWeight" step="1" min="1" max="5" aria-label="importance" class="weightslider"></md-slider>
                        </div>
                        <div flex layout>
                            <div flex layout>
                                <span class="sliderlabel small md-body-1">Not at all</span>
                            </div>
                            <div flex layout layout-align="end">
                                <span class="sliderlabel small md-body-1">Very</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </md-card>
        
        
        <md-card>
            <div flex layout="row" class="surveyq">
                <div layout="column" flex>
                    <div flex layout="column" class="sliderquestioncontainer">
                        <span class="md-subhead">What is your skill level?</span>
                        <div flex layout="row" layout-align="center center" class="slidercontainer">
                            <md-slider flex="95" md-discrete ng-model="survey1.profile.skillLevelAnswer" step="1" min="1" max="5" aria-label="importance" class="weightslider"></md-slider>
                        </div>
                        <div flex layout>
                            <div flex layout>
                                <span class="sliderlabel small md-body-1">Beginner</span>
                            </div>
                            <div flex layout layout-align="end">
                                <span class="sliderlabel small md-body-1">Expert</span>
                            </div>
                        </div>
                    </div>
                    
                    <div flex layout="column" class="weightcontainer2">
                        <span class="md-subhead">How important is agreement on this issue to you?</span>
                        <div flex layout="row" layout-align="center center" class="slidercontainer2">
                            <md-slider flex="95" md-discrete ng-model="survey1.profile.skillLevelWeight" step="1" min="1" max="5" aria-label="importance" class="weightslider"></md-slider>
                        </div>
                        <div flex layout>
                            <div flex layout>
                                <span class="sliderlabel small md-body-1">Not at all</span>
                            </div>
                            <div flex layout layout-align="end">
                                <span class="sliderlabel small md-body-1">Very</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </md-card>
        
        
        <md-card>
            <div flex layout="row" class="surveyq">
                <div layout="column" flex>
                    <span class="md-subhead">How many years have you been playing your instrument?</span>
                    <md-input-container class="detailsinput">
                        <input ng-model="survey1.profile.instrumentYearsAnswer">
                    </md-input-container>
                    
                    <div flex layout="column" class="weightcontainer">
                        <span class="md-subhead">How important is agreement on this issue to you?</span>
                        <div flex layout="row" layout-align="center center" class="slidercontainer">
                            <md-slider flex="95" md-discrete ng-model="survey1.profile.instrumentYearsWeight" step="1" min="1" max="5" aria-label="importance" class="weightslider"></md-slider>
                        </div>
                        <div flex layout>
                            <div flex layout>
                                <span class="sliderlabel small md-body-1">Not at all</span>
                            </div>
                            <div flex layout layout-align="end">
                                <span class="sliderlabel small md-body-1">Very</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </md-card>
        
        <div layout layout-align="end">
            <md-button ng-click="survey1.save()" ui-sref="survey2" class="nextbutton">Next</md-button>
        </div>
    </div>
</div>