<div layout="column" layout-padding>
    <div flex-xs flex-gt-xs="50" layout="column">
        <span class="surveyhead md-headline">Survey</span>
        
        <md-card>
            <div flex layout="row" class="surveyq">
                <div layout="column" flex>
                    <div flex layout="column" class="sliderquestioncontainer">
                        <span class="md-subhead">Do you have a vehicle?</span>
                        <div flex layout="row" layout-align="center center" class="slidercontainer">
                            <md-slider flex="95" md-discrete ng-model="survey5.profile.vehicleAnswer1" step="1" min="1" max="2" aria-label="importance" class="weightslider"></md-slider>
                        </div>
                        <div flex layout>
                            <div flex layout>
                                <span class="sliderlabel small md-body-1">No</span>
                            </div>
                            <div flex layout layout-align="end">
                                <span class="sliderlabel small md-body-1">Yes</span>
                            </div>
                        </div>
                    </div>
                    
                    <div flex layout="column" class="sliderquestioncontainer">
                        <span class="md-subhead">How would you want a future bandmate to answer this?</span>
                        <div flex layout="row" layout-align="center center" class="slidercontainer">
                            <md-slider flex="95" md-discrete ng-model="survey5.profile.vehicleAnswer2" step="1" min="1" max="2" aria-label="importance" class="weightslider"></md-slider>
                        </div>
                        <div flex layout>
                            <div flex layout>
                                <span class="sliderlabel small md-body-1">No</span>
                            </div>
                            <div flex layout layout-align="end">
                                <span class="sliderlabel small md-body-1">Yes</span>
                            </div>
                        </div>
                    </div>
                    
                    <div flex layout="column" class="weightcontainer2">
                        <span class="md-subhead">How important is agreement on this issue to you?</span>
                        <div flex layout="row" layout-align="center center" class="slidercontainer2">
                            <md-slider flex="95" md-discrete ng-model="survey5.profile.vehicleWeight" step="1" min="1" max="5" aria-label="importance" class="weightslider"></md-slider>
                        </div>
                        <div flex layout>
                            <div flex layout>
                                <span class="sliderlabel small md-body-1">Not at all</span>
                            </div>
                            <div flex layout layout-align="end">
                                <span class="sliderlabel small md-body-1">Very</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </md-card>
        
        
        <md-card>
            <div flex layout="row" class="surveyq">
                <div layout="column" flex>
                    <div flex layout="column" class="sliderquestioncontainer">
                        <span class="md-subhead">Do you have a tour-ready van?</span>
                        <div flex layout="row" layout-align="center center" class="slidercontainer">
                            <md-slider flex="95" md-discrete ng-model="survey5.profile.vanAnswer1" step="1" min="1" max="2" aria-label="importance" class="weightslider"></md-slider>
                        </div>
                        <div flex layout>
                            <div flex layout>
                                <span class="sliderlabel small md-body-1">No</span>
                            </div>
                            <div flex layout layout-align="end">
                                <span class="sliderlabel small md-body-1">Yes</span>
                            </div>
                        </div>
                    </div>
                    
                    <div flex layout="column" class="sliderquestioncontainer">
                        <span class="md-subhead">How would you want a future bandmate to answer this?</span>
                        <div flex layout="row" layout-align="center center" class="slidercontainer">
                            <md-slider flex="95" md-discrete ng-model="survey5.profile.vanAnswer2" step="1" min="1" max="2" aria-label="importance" class="weightslider"></md-slider>
                        </div>
                        <div flex layout>
                            <div flex layout>
                                <span class="sliderlabel small md-body-1">No</span>
                            </div>
                            <div flex layout layout-align="end">
                                <span class="sliderlabel small md-body-1">Yes</span>
                            </div>
                        </div>
                    </div>
                    
                    <div flex layout="column" class="weightcontainer2">
                        <span class="md-subhead">How important is agreement on this issue to you?</span>
                        <div flex layout="row" layout-align="center center" class="slidercontainer2">
                            <md-slider flex="95" md-discrete ng-model="survey5.profile.vanWeight" step="1" min="1" max="5" aria-label="importance" class="weightslider"></md-slider>
                        </div>
                        <div flex layout>
                            <div flex layout>
                                <span class="sliderlabel small md-body-1">Not at all</span>
                            </div>
                            <div flex layout layout-align="end">
                                <span class="sliderlabel small md-body-1">Very</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </md-card>
        
        
        <md-card>
            <div flex layout="row" class="surveyq">
                <div layout="column" flex>
                    <div flex layout="column" class="sliderquestioncontainer">
                        <span class="md-subhead">Can you sing?</span>
                        <div flex layout="row" layout-align="center center" class="slidercontainer">
                            <md-slider flex="95" md-discrete ng-model="survey5.profile.singAnswer1" step="1" min="1" max="2" aria-label="importance" class="weightslider"></md-slider>
                        </div>
                        <div flex layout>
                            <div flex layout>
                                <span class="sliderlabel small md-body-1">No</span>
                            </div>
                            <div flex layout layout-align="end">
                                <span class="sliderlabel small md-body-1">Yes</span>
                            </div>
                        </div>
                    </div>
                    
                    <div flex layout="column" class="sliderquestioncontainer">
                        <span class="md-subhead">How would you want a future bandmate to answer this?</span>
                        <div flex layout="row" layout-align="center center" class="slidercontainer">
                            <md-slider flex="95" md-discrete ng-model="survey5.profile.singAnswer2" step="1" min="1" max="2" aria-label="importance" class="weightslider"></md-slider>
                        </div>
                        <div flex layout>
                            <div flex layout>
                                <span class="sliderlabel small md-body-1">No</span>
                            </div>
                            <div flex layout layout-align="end">
                                <span class="sliderlabel small md-body-1">Yes</span>
                            </div>
                        </div>
                    </div>
                    
                    <div flex layout="column" class="weightcontainer2">
                        <span class="md-subhead">How important is agreement on this issue to you?</span>
                        <div flex layout="row" layout-align="center center" class="slidercontainer2">
                            <md-slider flex="95" md-discrete ng-model="survey5.profile.singWeight" step="1" min="1" max="5" aria-label="importance" class="weightslider"></md-slider>
                        </div>
                        <div flex layout>
                            <div flex layout>
                                <span class="sliderlabel small md-body-1">Not at all</span>
                            </div>
                            <div flex layout layout-align="end">
                                <span class="sliderlabel small md-body-1">Very</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </md-card>
        
        
        <md-card>
            <div flex layout="row" class="surveyq">
                <div layout="column" flex>
                    <div flex layout="column" class="sliderquestioncontainer">
                        <span class="md-subhead">Can you harmonize?</span>
                        <div flex layout="row" layout-align="center center" class="slidercontainer">
                            <md-slider flex="95" md-discrete ng-model="survey5.profile.harmonizeAnswer1" step="1" min="1" max="2" aria-label="importance" class="weightslider"></md-slider>
                        </div>
                        <div flex layout>
                            <div flex layout>
                                <span class="sliderlabel small md-body-1">No</span>
                            </div>
                            <div flex layout layout-align="end">
                                <span class="sliderlabel small md-body-1">Yes</span>
                            </div>
                        </div>
                    </div>
                    
                    <div flex layout="column" class="sliderquestioncontainer">
                        <span class="md-subhead">How would you want a future bandmate to answer this?</span>
                        <div flex layout="row" layout-align="center center" class="slidercontainer">
                            <md-slider flex="95" md-discrete ng-model="survey5.profile.harmonizeAnswer2" step="1" min="1" max="2" aria-label="importance" class="weightslider"></md-slider>
                        </div>
                        <div flex layout>
                            <div flex layout>
                                <span class="sliderlabel small md-body-1">No</span>
                            </div>
                            <div flex layout layout-align="end">
                                <span class="sliderlabel small md-body-1">Yes</span>
                            </div>
                        </div>
                    </div>
                    
                    <div flex layout="column" class="weightcontainer2">
                        <span class="md-subhead">How important is agreement on this issue to you?</span>
                        <div flex layout="row" layout-align="center center" class="slidercontainer2">
                            <md-slider flex="95" md-discrete ng-model="survey5.profile.harmonizeWeight" step="1" min="1" max="5" aria-label="importance" class="weightslider"></md-slider>
                        </div>
                        <div flex layout>
                            <div flex layout>
                                <span class="sliderlabel small md-body-1">Not at all</span>
                            </div>
                            <div flex layout layout-align="end">
                                <span class="sliderlabel small md-body-1">Very</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </md-card>
        
        
        <md-card>
            <div flex layout="row" class="surveyq">
                <div layout="column" flex>
                    <div flex layout="column" class="sliderquestioncontainer">
                        <span class="md-subhead">How important do you think merchandise is to a band?</span>
                        <div flex layout="row" layout-align="center center" class="slidercontainer">
                            <md-slider flex="95" md-discrete ng-model="survey5.profile.merchAnswer" step="1" min="1" max="5" aria-label="importance" class="weightslider"></md-slider>
                        </div>
                        <div flex layout>
                            <div flex layout>
                                <span class="sliderlabel small md-body-1">Not at all</span>
                            </div>
                            <div flex layout layout-align="end">
                                <span class="sliderlabel small md-body-1">Very</span>
                            </div>
                        </div>
                    </div>
                    
                    <div flex layout="column" class="weightcontainer2">
                        <span class="md-subhead">How important is agreement on this issue to you?</span>
                        <div flex layout="row" layout-align="center center" class="slidercontainer2">
                            <md-slider flex="95" md-discrete ng-model="survey5.profile.merchWeight" step="1" min="1" max="5" aria-label="importance" class="weightslider"></md-slider>
                        </div>
                        <div flex layout>
                            <div flex layout>
                                <span class="sliderlabel small md-body-1">Not at all</span>
                            </div>
                            <div flex layout layout-align="end">
                                <span class="sliderlabel small md-body-1">Very</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </md-card>
        
        <div layout layout-align="end">
            <md-button ng-click="survey5.save()" ui-sref="survey6" class="nextbutton">Next</md-button>
        </div>
    </div>
</div>