<div layout="column" layout-padding>
    <div flex-xs flex-gt-xs="50" layout="column">
        <span class="surveyhead md-headline">Survey: Finished</span>
        
        <md-card>
            <div flex layout="row" class="surveyend">
                <div layout="column" flex>
                    <span class="md-subhead">Congratulations!</span>
                    <md-content>You're all done.</md-content>
                    <md-content>Good luck and have fun!</md-content>
                </div>
            </div>
        </md-card>
        
        <div layout layout-align="end">
            <md-button ui-sref="profiles" class="nextbutton">Start Seeking</md-button>
        </div>
    </div>
</div>